<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta title="Shopping Reimagined" content="24/7 E-commerce online store">
    <meta description="Piggyvest Investment" content="Shop with ease and super comfort from Home or wherever you may be">
    <meta name="Author" content="Shopping Reimagined">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="Online shoppping mall">
    <script src="/js/all.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/foundation/5.0.2/css/foundation.css'>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Shopping Reimagined</title>
</head>

<body id="content">

  

    <!-- HEADER SECTION START -->

    <header> 
        <div class="logo">
            <div class="head-locate"></div>
            <a href="#" class="logo"><i class="fas fa-cart-shopping"></i>
                <h2 class="title">Shopping <em>Reimagined </em></h2></a>
        </div>

        <nav class="navbar">
            <div class="nav-list">
                <a class="linkk isActive" data-switcher data-tab="1" href="#home">Home</a>
                <a class="linkk" data-switcher data-tab="2" href="#products">Products</a>
                <a class="linkk" data-switcher data-tab="3" href="#about">About</a>
                <a class="linkk" data-switcher data-tab="4" href="#contact">Contact Us</a>
                <a class="linkk" data-switcher data-tab="5" href="#feed">Feeds</a>
            </div>
            <div class="icons">
                <form class="nosubmit">
                    <i class="fas fa-search" id="search-icon"></i>
                    <input class="nosubmit" type="search" placeholder="Find products" id="myInput" onkeyup="inputFunction()">
                </form>
               
                <!-- <a href="#" class="fas fa-heart"></a> -->

                <div class="cart icons" id="cart">
                    <i class="fas fa-cart-shopping cartImg" id=""></i>
                </div>
                <!-- <div id="text-name"></div> -->
            </div>
            <div class="icons" id="userN">
                Sign In
            </div>

            <div class="icons">
                <h1 id="counter">0</h1> views.
            </div>
        </nav>
        <i class="menu" id="menu-bars"></i>
    </header>
    <!-- HEADER SECTION ENDS -->


    <!-- newwwwwwwwwwwwwwwwwwwww -->
    <div class="page isActive" id="general" data-page="1">



        <!-- HERO/HOME SECTION STARTS -->
        <section class="home" id="home">
            <div class="slider">
                <div class="slide active" style="background-image: url('img/slide_01.jpg')">
                    <div class="caption">
                        <h1>Winter Collection 2022</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Quod, aliquamadipisicing elit. Optio, id?</p>
                        <a href="">Shop Now</a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('img/products-heading.jpg')">
                    <div class="caption">
                        <h1>Best Deals</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, optio?</p>
                        <a href="">Shop Now</a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('img/product_01.jpg')">
                    <div class="caption">
                        <h1>Classic Collections Bash</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, saepe?</p>
                        <a href="">Shop Now</a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('img/online-sales.png')">

                    <div class="caption">
                        <h1>Classic Collections Bash</h1>
                        <p>Lorem ipsum dolor sit amet consectetur,IJHEWIOUANSJKWNCIU JNCWERIUHCUI  adipisicing elit. Ratione, saepe?</p>
                        <a href="">Shop Now</a>
                    </div>
                </div>

                <div class="slide" style="background-image: url('img/team_04.jpg')">
                    <div class="caption">
                        <h1>Classic Collections Bash</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, inionrjkheuich;u jkuiweJ JHCUIWEUIDJ adipisicing elit. Ratione, saepe?</p>
                        <a href="">Shop Now</a>
                    </div>
                </div>
                <div class="slide" style="background-image: url('img/contact-heading.jpg')">
                    <div class="caption">
                        <h1>Classic Collections Bash</h1>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elKSDLCJ IOKLJSDCOIAFWNEFCKLSDKLNit. Ratione, saepe?</p>
                        <a href="">Shop Now</a>
                    </div>
                </div>
            </div>
            <!-- controls  -->
            <div class="controls">
                <div class="prev"> < </div>
                <div class="next"> > </div>
            </div>
            <!-- indicators -->
            <div class="indicator"> </div>

        </section>
    </div>
    <!-- HERO SECTION ENDS -->

    <!-- PRODUCT SECTION STARTS -->


    <section class="container products" id="products">

        <div class="section-heading">
            <h2>Latest Products</h2>
            <a href="products.html">view all products <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="container" id="productsGeneral">
            <div class="box-container">
                <div class="box-container-items-sub">
                    <div class="box">
                        <div>
                            <img src="/img/sh.jpg" class="image" alt="">
                        </div>

                        <div class="box-text">
                            <div class="text">
                                <h3 class="text-name">Women's Shoes</h3>
                                <p class="price">$400.25</p>
                            </div>

                            <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>

                            <div class="review">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>

                                <div class="rating">
                                    <p>Reviews(27)</p>
                                </div>

                            </div>
                        </div>

                        <a href="#" class="button"> Add to cart</button></a>
                    </div>

                    <div class="box">
                        <img src="/img/hoddie.jpg" class="image" alt="">
                        <div class="box-text">
                            <div class="text">
                                <h3 class="text-name">Hoodie</h3>
                                <p class="price">$400.25</p>
                            </div>
                            <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
                            <div class="review">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="rating">
                                    <p>Reviews(27)</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="button"> Add to cart</button></a>
                    </div>

                    <div class="box">
                        <img src="/img/make-up-kit.jpg" class="image" alt="">
                        <div class="box-text">
                            <div class="text">
                                <h3 class="text-name">Make-up kit</h3>
                                <p class="price">$400.25</p>
                            </div>
                            <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
                            <div class="review">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="rating">
                                    <p>Reviews(27)</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="button"> Add to cart</button></a>
                    </div>
                </div>

                <div class="box-container-items-sub">
                    <div class="box promo-box">
                        <div class="promo-slash">
                            <p>-30%</p>
                        </div>
                        <div class="promo-slash-image">
                            <img src="/img/mobile-acc (1).jpg" class="image" alt="">
                        </div>
                        <div class="box-text">
                            <div class="text">
                                <h3 class="text-name">Mobie Earpud</h3>
                                <p class="price">$400.25</p>
                            </div>
                            <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
                            <div class="review">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="rating">
                                    <p>Reviews(27)</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="button"> Add to cart</button></a>
                    </div>

                    <div class="box promo-box">
                        <div class="promo-slash">
                            <p>-50%</p>
                        </div>
                        <div class="promo-slash-image">
                            <img src="/img/powder.jpg" class="image" alt="">
                        </div>
                        <div class="box-text">
                            <div class="text">
                                <h3 class="text-name">Powder</h3>
                                <p class="price">$400.25</p>
                            </div>
                            <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
                            <div class="review">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="rating">
                                    <p>Reviews(27)</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="button"> Add to cart</button></a>
                    </div>

                    <div class="box promo-box">
                        <div class="promo-slash">
                            <p>-40%</p>
                        </div>
                        <div class="promo-slash-image">
                            <img src="/img/mens-shirt.jpg" class="image" alt="">
                        </div>
                        <div class="box-text">
                            <div class="text">
                                <h3 id="text-name">Classic Shirt</h3>
                                <p class="price">$400.25</p>
                            </div>
                            <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
                            <div class="review">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>

                                </div>
                                <div class="rating">
                                    <p>Reviews(27)</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="button"> Add to cart</button></a>
                    </div>
                </div>

                <div class="box-container-items-sub">
                    <div class="box">
                        <img src="/img/perfum.jpg" class="image" alt="">
                        <div class="box-text">
                            <div class="text">
                                <h3 class="text-name">Perfume</h3>
                                <p class="price">$400.25</p>
                            </div>
                            <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
                            <div class="review">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="rating">
                                    <p>Reviews(27)</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="button"> Add to cart</button></a>
                    </div>

                    <div class="box">
                        <img src="/img/men-shoes.jpg" class="image" alt="">
                        <div class="box-text">
                            <div class="text">
                                <h3 class="text-name">Men's Shoes</h3>
                                <p class="price">$400.25</p>
                            </div>
                            <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
                            <div class="review">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="rating">
                                    <p>Reviews(27)</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="button"> Add to cart</button></a>
                    </div>

                    <div class="box">
                        <img src="/img/cosmetics2 (5).jpg" class="image" alt="">
                        <div class="box-text">
                            <div class="text">
                                <h3 class="text-name">Wall frame</h3>
                                <p class="price">$400.25</p>
                            </div>
                            <p class="discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
                            <div class="review">
                                <div class="star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="rating">
                                    <p>Reviews(27)</p>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="button"> Add to cart</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--PRODUCT SECTION ENDS -->


    <!-- ABOUT SECTION START -->
    <!-- ABOUT SECTION STARTS -->
    <section class="about" id="about">
        <h1 class="sub-heading section-heading">About Us</h1>
        <div class="container">
            <div class="about-contanier">
                <div class="about-text">
                    <div class="content">
                        <h1>All you need to know about shoping Reimagined.</h1>
                        <p>
                            <span>SHOPPING <em>REIMAGINED</em></span> is an online shopping website that provides an easy shopping facility to customers,wherein they can sit at one place and shop online anytime, anywhere 24/7. We make online shopping
                            less stressull and also provide better access to products.</p>
                        </p>
                        <h3>Our services includes; </h3>
                        <div class="services">
                            <div class="icons-container">
                                <div class="icons services">
                                    <i class="fas fa-user-secret"></i>
                                    <span>Free Security.</span>
                                </div>

                                <div class="icons services">
                                    <i class="fas fa-dollar-sign"></i>
                                    <span>Easy Payments.</span>
                                </div>

                                <div class="icons services">
                                    <i class="fas fa-headset"></i>
                                    <span>24/7 Service.</span>
                                </div>
                                <div class="icons services">
                                    <i class="fas fa-cart-arrow-down"></i>
                                    <span>Large range of products.</span>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn">Learn More</a>
                    </div>
                </div>
                <img src="img/main-image.png" alt="" class="website-image">
            </div>
        </div>
    </section>

    <!-- ABOUT SECTION ENDS -->
    <!-- ABOUT SECTION ENDS -->

    <!-- REVIEW SECTION STARTS -->
    <!-- Swiper -->
    <div class="feed" id="feed">
        <div class="section-heading">
            <h2>Customer's Feed</h2>
            <a href="products.html">Read more <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="container">
            <div class="wrapper">
                <div class="box-review">
                    <i class="fas fa-quote-left quote"></i>
                    <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
                    <div class="content">
                        <div class="info">
                            <div class="name">Alex Smith</div>
                            <div class="job">Umuahia | Nigeria</div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                        <div class="image">
                            <img src="img/team_02.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="box-review">
                    <i class="fas fa-quote-left quote"></i>
                    <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
                    <div class="content">
                        <div class="info">
                            <div class="name">Steven Chris</div>
                            <div class="job">Lagos | Nigera
                            </div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                        <div class="image">
                            <img src="img/team_01.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="box-review">
                    <i class="fas fa-quote-left  quote"></i>
                    <p>Lorem aliasry ipsum dolor sits ametans, consectetur adipisicing elitits. Expedita reiciendis itaque placeat thuratu, quasi yiuos repellendus repudiandae deleniti ideas fuga molestiae, alias.</p>
                    <div class="content">
                        <div class="info">
                            <div class="name">Kristina Bellis</div>
                            <div class="job">kaduna|Nigeria</div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="far fa-star"></i>
                            </div>
                        </div>
                        <div class="image">
                            <img src="img/team_04.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- CONTACT US SECTION BEGINS HERE -->
    <div class="contact" id="contact">
        <div class="section-heading title">
            <h2>CONTACT US</h2>
        </div>
        <div class="contact-main">
            <div class="container">
                <div class="container-main">
                    <div class="content">
                        <div class="left-side">
                            <div class="address details">
                                <i class="fas fa-map-marker-alt"></i>
                                <div class="topic">Address</div>
                                <div class="text-one">17 Aba Road Umuahia <br> Abia State Nigeria</div>
                            </div>
                            <div class="phone details">
                                <i class="fas fa-phone-alt"></i>
                                <div class="topic">Phone</div>
                                <div class="text-one">+23489674567 <br>+23481576839</div>
                            </div>
                            <div class="email details">
                                <i class="fas fa-envelope"></i>
                                <div class="topic">Email</div>
                                <div class="text-one">codinglab@gmail.com <br>info.codinglab@gmail.com</div>

                            </div>
                        </div>
                        <div class="right-side">
                            <div class="topic-text">Send us a message</div>
                            <p>If you have any question for us or any types of quries related to my products, you can send us a message from here. It's our pleasure to help you.</p>
                            <form action="">
                                <div class="input-box">
                                    <input type="text" placeholder="Enter your name">
                                </div>
                                <div class="input-box">
                                    <input type="text" placeholder="Enter your email" autocomplete="">
                                </div>
                                <div class="input-box message-box">
                                    <textarea placeholder="Enter your message"></textarea>
                                </div>
                                <div class="button">
                                    <input type="button" value="Send Now">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT SECTION ENDS -->
    <!-- FOOTER SECTION STARTS -->


    <div class="main">
        <div class="container">
            <section class="footer">
                <footer>
                    <div class="footer-intro">
                        <h3>Shopping ReImagined</h3>
                        <p>With us, you can shop at your convenience, <br>in minutes, just with a click of a button. <br> <br> Order Today.</p>
                        <p class="footer-1"> Made with &#10084; in the Aptech.</p>
                    </div>

                    <div class="footer-diff">
                        <h3>Sitemap</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="#">Homepage</a>
                            </li>
                            <li>
                                <a href="#">Pricing</a>
                            </li>
                            <li>
                                <a href="#">Testimonials</a>
                            </li>
                            <li>
                                <a href="#">Products</a>
                            </li>

                        </ul>
                    </div>

                    <div class="footer-text">
                        <h3>Resources</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="#">Support</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-text">
                        <h3>Company</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Customers</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer-text">
                        <h3>Reviews</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="#">Sarah Andrews</a>
                            </li>
                            <li>
                                <a href="#">Mathew Higgins</a>
                            </li>
                            <li>
                                <a href="#">Janice Dave</a>
                            </li>
                        </ul>
                    </div>

                </footer>

            </section>
        </div>
    </div>
    <!-- newwwwwwwwwwwwwww -->

    <script type="text/template" id="cartT">
        <% _.each(items, function (item) { %> <div class = "panel"> <h3> <%= item.name %> </h3>  <span class="label">
      <%= item.count %> piece<% if(item.count > 1)
      {%>s
      <%}%> for <%= item.total %>₹</span > </div>
      <% }); %>
      </script>
       
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'></script>
      <script  src="function.js"></script>

    <script src="/js/pageswitcher.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>